<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap files -->
  <link rel="stylesheet" href="./vendor/b3/css/bootstrap.css">
  <script src="./vendor/b3/js/jquery.js"></script>
  <script src="./vendor/b3/js/bootstrap.js"></script>
  <link rel="stylesheet" href="./vendor/static/style.css">
  <link rel="shortcut icon" type="image/png" href="./vendor/static/favicon.png">
  <!-- importing fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:700&display=swap" rel="stylesheet">
  <!-- Vue cdn [production] -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <!-- title -->
  <title>Blog App Home</title>
</head>

<body>

  <span id="vue-app">

    <!-- Navbar element -->
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a @click="PageManager(0)" class="navbar-brand"> &nbsp; {{ title }} </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right" v-if='!logStatus'>
            <li><a @click="PageManager(4)"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a @click="PageManager(1)"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" v-else='!logStatus'>
            <li><a @click="logOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            <li><a @click="PageManager(5)"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Error message banner -->
    <div class="alert alert-danger" v-if="errorMsgBanner">
      <span v-for="error in error_message">
        <strong>{{ error }}</strong>
      </span>
    </div>

    <!-- Success Message Banner -->
    <div class="alert alert-success" v-if="successMsgBanner">
      <strong>{{ successMsg }}</strong>
    </div>

    <!-- Section Body -->
    <span v-if="mainPageBool">
      <div class="container">
        <!-- Row Start -->
        <div class="row">

          <!-- Write article section -->
          <div class="col-lg-6" id="write">
            <h1 id='write-h1'>Write An Article</h1> <br>
            <center> <button @click="ReadWriteAuth(1)" id="write-button">Write</button> </center>
          </div>

          <!-- Read article section -->
          <div class="col-lg-6" id="read">
            <h1 id='read-h1'>Read an Article </h1>
            <center><button v-on:click="ReadWriteAuth(2)" id="read-button">Read</button></center>
          </div>

        </div>
      </div>

    </span>

    <!-- Profile Page -->
    <span v-if="profilePageBool">
      <center>
        <br> <br> <br>
        <h3 v-if='name'> Account Holder : {{ name }} </h3>
        <h3>Account Email : {{ user_email}}</h3>
        <hr>
        <hr>
        <form>
          <div class="container">
            <div class="row">
              <h4>Update Your Profile </h4> <br>
              <div class="col-md-6">
                <h4>Enter First Name :</h4>
                <input type="text" class="form-control" v-model="firstName" placeholder="First Name" autocomplete="off">
              </div>
              <div class="col-md-6">
                <h4>Enter Last Name :</h4>
                <input type="text" class="form-control" v-model="lastName" placeholder="Last Name" autocomplete="off">
              </div>
            </div>
          </div>
          <br>
          <button type="button" @click="updateProfile()" class="red-button">Update</button> &nbsp; &nbsp; &nbsp;
          <button @click="PageManager(0)" class="home-button">Go Home !</button>
        </form>
      </center>
    </span>

    <!-- Write Form Section -->
    <span v-if="writePageBool">
      <center>
        <br> <br> <br>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 style="font-family: Lato;">Write here</h1>
              <form>
                <h3>Enter title : </h3>
                <input type="text" v-model="titlex" class="form-control">
                <h3>Enter content : </h3>
                <textarea rows="8" class="form-control" cols="80" v-model='content'>
                </textarea> <br>
                <button class="red-button" type="button" @click="writeToDB()">Submit</button>
                <button @click="PageManager(0)" class="home-button">Go Home !</button>
              </form>
            </div>
          </div>
        </div>
      </center>
    </span>

    <!-- Login Form Section -->
    <span v-if="loginPageBool">
      <center>
        <div class="container">
          <div class="row">
            <form class="form-signin mg-btm">
              <h3 class="heading-desc">Login to Post It</h3>
              <div class="main">
                <h5>Enter your registered email : </h5>
                <input type="email" class="form-control" v-model="user_email" placeholder="Email"> <br>
                <h5>Enter your account password : </h5>
                <input type="password" class="form-control" v-model='user_password' autocomplete="user_password"
                  placeholder="Password" />
                <button type="button" @click="checkFormLogin()" class="red-button">Login</button>
                <hr>
                <hr>
                Dont have an account ? <button @click="PageManager(4)" class="red-button">Register</button> <br>
                <span class="clearfix"></span>
              </div>
            </form>
            <button @click="PageManager(0)" class="home-button">Go Home !</button>
          </div>
        </div>
      </center>
    </span>

    <!-- reading section -->
    <span v-if="readPageBool">
      <center>
        <h2 style="font-family: Lato">Reading Section </h2>
        <br>
        <div v-for="x in readList">
          <div id="readBox">
            <br>
            <h4 class="container"> {{ x.titlex }} </h4>
            <h5 class="container"> {{ x.para }} </h5>

            <span v-if="user_uid == x.uid">
              <button @click="deletedoc(x.docId)" class="btn btn-danger">Delete Post</button>
            </span>
            <hr>
          </div>
        </div>
        <button @click="PageManager(0)" class="home-button">Go Home !</button>
      </center>
    </span>

    <!-- Registering User section -->
    <span v-if="registerPageBool">
      <center>
        <div class="container">
          <div class="row">
            <form class="form-signin mg-btm">
              <h2 class="heading-desc"> Register to Post It</h2>
              <div class="main">
                <h5>Enter your email address : </h5>
                <input type="email" class="form-control" v-model="user_email" autocomplete="off" placeholder="Email">
                <h5>Set your account password : </h5>
                <input type="password" class="form-control" v-model='user_password' autocomplete="off"
                  placeholder="Password">
                <h5>Re-enter your password : </h5>
                <input type="password" class="form-control" v-model='user_conf_password' autocomplete="off"
                  placeholder="Confirm Password">
                <button type="button" @click="checkFormRegister()" class="red-button">Register</button>
                <span class="clearfix"></span>
                <hr>
                Already have an account ? <button @click="PageManager(1)" class="red-button">Login</button> <br>
              </div>
            </form>
          </div>
        </div>
        <button @click="PageManager(0)" class="home-button">Go Home !</button>
      </center>
    </span>

  </span>

  <!-- Made BY section -->
  <center>
    <br>
    <p id="end-button">
      <a target="_blank" href="https://dev117uday.github.io/resume_site/" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-heart"> Uday Yadav </span>
      </a>
    </p>
  </center>

  <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-firestore.js"></script>
  <script src="./app.js"></script>

</body>

</html>

<!-- <div class="social-box">

    <div class="col-md-12">
      <a href="#" class="home-button btn-block">
        <i class="icon-facebook"></i>    Login with Facebook
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="#" class="btn btn-info btn-block">
        <i class="icon-twitter"></i>    Login with Twitter
      </a>
    </div>
  </div>
</div> -->