{% extends 'webapp/base.html' %}

{% block title %}  
    <title> Try - Home </title>  
    <style>
        p {
            height:60px;
            line-height:20px; /* Height / no. of lines to display */
            overflow:hidden;
        }
    </style> 
{% endblock title %}

{% block index %}
    <div class="container">
        <h1> Posts by {{ view.kwargs.username }} </h1>
    </div>
    <div class="container">
        <div class="row">            
                {% for post in posts %} 
                   
                        <div class="col-sm-4">
                            <form method="GET" action="/post/{{ post.id }}/">                                
                                <h2>  {{ post.title }}</h2>
                                <p >By : <a href="{% url 'user_post' post.author.username %}" >{{ post.author }} </a> <br> On : {{ post.date_posted }}<br>                             
                                {{ post.content }}</p>                                            
                                <button type="submit" class="btn btn-primary">View Full post</button>
                            </form>   
                        </div>   
       
                {% endfor %}   
                
        </div><br>
    </div>
    <div class="container">
        <center>
            {% if is_paginated %}         
                <div class="btn-group">                
                            {% if page_obj.has_next %}                    
                                <a class="btn btn-info" href="?page={{ page_obj.next_page_number }}"> Next        </a>
                            {% endif %}
                            {% if page_obj.has_previous %}                    
                                <a class="btn btn-warning" href="?page={{ page_obj.previous_page_number }}"> Previous </a>
                            {% endif %}   
                </div>                 
            {% endif %}
        </center>
        
    </div>

{% endblock index %}


  