body {
    background-color: #D3D3D3;
}

#main-heading {
	font-family: Roboto;
	font-size: 35px;
	color: #292827;
	font-weight: 300;
}

#chart {
    margin-top: -10px;
}

svg {
    display: block;
    margin: 45px auto;
    padding: 25px;
    border-radius: 10px;
    background-color: #ffffff;
    font: 12px 'Roboto', serif;
}

#title {
    font-size: 22px;
    text-anchor: middle;
}

div#tooltip {	
    position: absolute;			
    text-align: left;			
    width: 85px;					
    height: 70px;					
    padding: 15px;				
    font: 12px 'Bree Serif', serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}